@page
@model WebApp.Pages_Games.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<div>
    <form method="post" type="hidden">
        <input type="hidden" asp-for="Game.Id" />
        <input id="DeleteButton" type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>



<script>
        // Define a function to be called when the window has finished loading
        window.onload = function() {
            // Find the button by its ID and simulate a click
            let DeleteButton = document.getElementById("DeleteButton");

            if (DeleteButton) {
                DeleteButton.click();
            }
        };
</script>
