@page
@model WebApp.Pages.Loading

@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>

<div class="text-center">
    <h1 class="display-4">Load Game</h1>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


@foreach()


</body>
</html>