@page
@model WebApp.Pages.Play.GameOver

@{
    ViewData["Title"] = "Game Over";
}

<h1 class="text-center display-4">Congratulations</h1>

<h2 class="text-center display-4"> @Model.Winner is a winner</h2>

