@page
@using Domain
@model WebApp.Pages.Play.Log

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center display-4">Log</h1>

<div>
    @if (Model.LoggedInfo != null)
    {
        foreach (var info in Model.LoggedInfo)
        {
            <p>@info</p>
        }
    }
</div>